<h1>How to use ccsubs</h1>

<h2>Requesting coverage</h2>
<ol>
	<li><%= link_to "Sign in", signin_path %>. Your login is the email address you have on record with the Crisis Clinic and your password will have been communicated to you personally by Crisis Clinic staff.</li>
	<li>To create a new request for coverage, click <%= link_to "New request", new_request_path %> in the menu bar at the top of the page.</li>
	<li>Select the date and time of the shift you need coverage for. It's not necessary, but if you have any additional info you wish to share about your request, you can enter it in the "details" box. You definitely don't need to include any information about how to contact you, the shift you need covered, or what shifts you're available to swap for. All that information is handled by the system.</li>
	<li>If there are any shifts you can potentially swap for, either before or after the one you need coverage for, click "Create swap request" and you will be prompted to enter the shifts you are available to swap for. If you can't swap at all, click "Create sub-only request" and you are done.</li>
	<li>After creating a swap request, you will be prompted to enter you swap availability so that the system can help match volunteers with compatible swap needs. In general, the more available shifts you add, the better chances you have of finding a match. Don't worry about adding too much availability; the system will only propose your availability to others for swaps as long as you have outstanding requests for coverage.</li>
	<li>After adding a swap request, you can view it under "Account" > "<%= link_to "My requests", requests_path(owner: current_user) %>" in the menu bar. Click on the date and time of the request to see details of any other volunteers who have availability to swap. If there are any, you can click the "Offer to swap" button and the volunteer will receive an email that will allow them to accept or decline your swap offer. In order to ensure orderly swaps, once an offer has been made to swap for a certain shift, no other offers involiving those volunteers' shifts can be made until the requstest is accepted or declined. When this happens the volunteer who made the request will receive an email notification.</li>
</ol>

<h2>Editing requests</h2>
<p>If you made a mistake and need to change the details of a request or delete it altogether, it is simple to do so.</p>
<ol>
	<li>Find the request you need to change under "Account" > "<%= link_to "My requests" %> in the menu bar. If the "Account" menu isn't present, it means you need to <%= link_to "sign in", signin_path %>.</li>
	<li>To delete a request, click the "Delete" link next to the request in the list. To change the details of a request, click the "Edit" link.</li>
	<li>Make the desired changes and then click the "Update my request" button.</li>
</ol>

<h2>Offering coverage</h2>
<ol>
	<li>Click "Sub/Swap requests" in the menu bar to view open requests for coverage. If "Sub/Swap requests" isn't present, it means you need to <%= link_to "sign in", signin_path %>.</li>
	<li>Find a request you'd like to sub or swap for in the list by clicking on the date and time of the request.</li>
	<li>If the volunteer who made the request has availability to swap with any of the shifts you've requested coverage for, you can click a button to propose a swap for that shift. If the volunteer isn't available to swap, you can still sub for the shift by clicking the "Offer to sub (no swap)" button.</li>
	<li>In the case of a sub, your offer will be accepted immediately since everyone loves a free sub and the volunteer who made the request will receive an email notification. In the case of a swap, the volunteer who made the request will receive an email notification but will have to accept the swap (confirming their availability for the offered shift) before it is finalized. You will receive an email notification once the other volunteer has responded to your offer.</li>
</ol>

<h2>Responding to swap offers</h2>
<p>When another volunteer offers to swap shifts with you, you will receive an email notifying you of the offer, including a link which can be followed to respond. Also, whenever you have pending offers, there will be an indication at the top of any page that reads, "Please click here respond to your pending offer". Follow either link to view the request and then click "Accept" or "Decline". The volunteer who made the offer will receive an email notifying them of your response.</p>