<h1>How to use ccsubs</h1>

<div class="alert alert-info">
	The ccsubs web system will send notification emails from the address volunteerservices@crisisclinic.org. Please make sure to add this address to your spam whitelist to ensure you receive messages alerting you to sub/swap offers.
</div>

<h2>Requesting coverage</h2>
<ol>
	<li><%= link_to "Sign in", signin_path %>. Your login is the email address you have on record with the Crisis Clinic and your password will have been communicated to you personally by Crisis Clinic staff.</li>
	<li>To create a new request for coverage, click <%= link_to "New request", new_request_path %> in the menu bar at the top of the page.</li>
	<li>Select the date and time of the shift you need coverage for and click "Find matches".</li>
	<li>If there are any volunteers that have entered availability matching your request, you will be presented with a list of the shifts they want coverage for. If any of them work for you click the appropriate "Offer to swap…" button. If none of them work for you, click "I can't swap…"</li>
	<li>If there are no volunteers who have already indicated availability for your request, or you weren't able to swap with any of the shifts they needed covered, you will be prompted to enter you swap availability so that the system can help match volunteers with compatible swap needs. In general, the more available shifts you add, the better chances you have of finding a match. Don't worry about adding too much availability; the system will only propose your availability to others for swaps as long as you have outstanding requests for coverage.</li>
	<li>After adding a swap request, you can view it under "Account" > "<%= link_to "My requests", requests_path(owner: current_user) %>" in the menu bar. Click on the date and time of the request to see details of any other volunteers who have availability to swap. If there are any, you can click the "Offer to swap" button and the volunteer will receive an email that will allow them to accept or decline your swap offer. In order to ensure orderly swaps, once an offer has been made to swap for a certain shift, no other offers involiving those volunteers' shifts can be made until the requstest is accepted or declined. When this happens the volunteer who made the request will receive an email notification.</li>
</ol>

<h2>Specifying typical availablity</h2>
<ul>
	<li>Since most volunteers have a weekly schedule with shifts that they are regularly available to swap for and others that they are never available to swap for, you can specify which shifts you are typically available for to reduce the effort involved in specifying availability for specific shifts.</li>
	<li>For example, if you are typically available for Monday, 8am-12:30pm shifts and typically not available for Tuesday, 9pm-1am shifts you can indicate this on your <%= link_to "My typical availability", edit_default_availability_path %> page, accessible under the <i>Your Name</i> menu.</li>
	<li>Subsequently when the system requests information about your availability for specific shifts,
		the default responses corresponding to your typical availability will be pre-selected. Please be sure
		to double check that the default responses are accurate for the specific shifts in question and update
		them if not. Changing a response for a specific shift will not change your typical availablity for that
		shift in the system.</li>
	<li>For example, after requesting shift coverage, the system may ask if you are available for Monday, December 19th, 8am-12:30pm and Tuesday December 20th, 9pm-1am. With the typical availabilities from the previous example, the Monday shift would default to "Yes" and the Tuesday shift would default to "No". If you are not available for this particular Monday shift, you must change the response to "No" before selecting "Update".</li>
</ul>

<h2>Deleting corverage requests</h2>
<p>If you made a mistake and need to delete a request, it is simple to do so.</p>
<ol>
	<li>Find the request you need to change under <i>Your Name</i> > "<%= link_to "My requests" %> in the menu bar. If the <i>Your Name</i> menu isn't present, it means you need to <%= link_to "sign in", signin_path %>.</li>
	<li>To delete a request, click the <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button> button next to the request in the list.</li>
</ol>

<h2>Offering coverage</h2>
<ol>
	<li>Click "Sub/Swap requests" in the menu bar to view open requests for coverage. If "Sub/Swap requests" isn't present, it means you need to <%= link_to "sign in", signin_path %>.</li>
	<li>Find a request you'd like to sub or swap for in the list by clicking on the date and time of the request.</li>
	<li>If the volunteer who made the request has availability to swap with any of the shifts you've requested coverage for, you can click a button to propose a swap for that shift. If the volunteer isn't available to swap, you can still sub for the shift by clicking the "Offer to sub (no swap)" button.</li>
	<li>In the case of a sub, your offer will be accepted immediately since everyone loves a free sub and the volunteer who made the request will receive an email notification. In the case of a swap, the volunteer who made the request will receive an email notification but will have to accept the swap (confirming their availability for the offered shift) before it is finalized. You will receive an email notification once the other volunteer has responded to your offer.</li>
</ol>

<h2>Responding to swap offers</h2>
<p>When another volunteer offers to swap shifts with you, you will receive an email notifying you of the offer, including a link which can be followed to respond. Also, whenever you have pending offers, there will be an indication at the top of any page that reads, "Please click here respond to your pending offer". Follow either link to view the request and then click "Accept" or "Decline". The volunteer who made the offer will receive an email notifying them of your response.</p>