<% provide(:title, 'Edit') %>
<h1>Edit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>


      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :first_day_of_week_preference %>
      <%= f.select :first_day_of_week_preference, User.first_day_of_week_preferences.keys %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <% if current_user.admin? %>
        <%= f.label :disabled %>
        <%= f.check_box :disabled %>
      <% end %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

    <% end %>
    <br />
    <p>The following fields aren't editable because they are stored in
      the volunteer database. If you need to modify them, please contact
      <a href="mailto:volunteerservices@crisisclinic.org">volunteerservices@crisisclinic.org</a>.
    </p>
    <%= label_tag :name %>
    <div><%= @user.name %></div><br />

    <%= label_tag :volunteer_type %>
    <div><%= @user.volunteer_type || "none" %></div><br />

    <%= label_tag :home_phone %>
    <div><%= @user.home_phone || "none" %></div><br />

    <%= label_tag :cell_phone %>
    <div><%= @user.cell_phone || "none" %></div><br />
  </div>
</div>

