<% provide(:title, 'Upload user list') %>
<%= render 'shared/error_messages' %>
<h1>Upload user list</h1>


<%= form_tag({action: :upload_csv}, multipart: true) do %>
	<% if defined?(@users_to_disable) %>
		<p>
			If this is correct, please verify the names of the
			<%= @users_to_disable.size %> users whose accounts will be disabled,
			then upload the file again.
		</p>
		<ol>
		<% @users_to_disable.each do |u| %>
			<li><%= u %></li>
		<% end %>
	  </ol>

	  <%= hidden_field_tag 'users_to_disable_confirmation', @users_to_disable.size %>
	<% end %>

	<% if @users_with_failed_update.any? %>
    <ul>
    <% @users_with_failed_update.each do |u| %>
      <li><%= u %>: <%= u.errors.full_messages.join(", ") %></li>
    <% end %>
    </ul>
	<% end %>

  <%= file_field_tag 'csv' %>
  <%= submit_tag "Upload CSV", class: "btn btn-large btn-primary" %>
<% end %>
