<% if @request.seeking_offers? %>
<!-- send email through the site and require an availability
don't allow creation of requests until email is confirmed -->

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@request, url: offer_sub_url) do |f| %>
        <%= f.submit "Offer to sub (no swap)", 
            class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>

  <% if @swap_candidates.empty? %>
    <p>
      This user doesn't have any shifts they are available to swap for that
      match your requests.
      <% unless @request.user.open_availabilities.empty? %>
        They are available to swap for the following shifts. If you need
        coverage for one of these, you should create a request.
        <% @request.user.open_availabilities.each do |availability| %>
          <%= button_to "New request for #{availability}", new_request_path,
                        class: "btn", method: :get,
                        params: { date: availability.date,
                                  shift: availability.shift } %>
        <% end %>
      <% end %>
    </p>
  <% else %>
    <p>Shifts this user is available to swap for:</p>
  <% end %>
  <ul>
    <% @swap_candidates.each do |req| %>
      <li><%= button_to "Offer to swap for #{req}",
              offer_swap_url(@request),
              class: "btn btn-primary", method: :patch,
              params: { offer_request_id: req.id } %></li>
    <% end %>
  </ul>
  
<% elsif @request.fulfilling_swap.user == current_user %>
  <% if @request.received_offer? %>
    <div class="alert alert-info">
      Your offer to swap for 
      <%= link_to @request.fulfilling_swap, @request.fulfilling_swap %>
      is pending <%= @request.user %>'s approval.
    </div>
  <% elsif @request.sent_offer? %>

    <%= render partial: 'offer_response',
        locals: {offer: @request } %>

  <% end %>
<% else %>
  <p>This request is not currently open to offers</p>
<% end %>
