<% if @request.received_offer? %>

  <%= render partial: 'offer_response', locals: {receivers_request: @request} %>
  
<% elsif @request.sent_offer? %>
  <p>
    Pending swap offered to <%= @request.fulfilling_user %> for
    <%= link_to @request.fulfilling_swap, @request.fulfilling_swap %>.
  </p>
<% else %>
  <% if @requests_to_swap_with.empty? %>
    <p>Currently, nobody looking for a swap is available to take this shift.</p>
    <p>
      Adding more <%= link_to "shifts you are available to swap for", availabilities_path %>
      will increase the chances of finding a match.
    </p>
  <% else %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for @request do |f| %>
          <ul class="requests">
            <% @requests_to_swap_with.each do |reqs_to_swap_with| %>
              <li>
                <%= render partial: 'offer_swap_button',
                           locals: {form: f, req_to_swap_with: req_to_swap_with} %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>
