<% if @request.received_offer? %>

  <div class="alert alert-info">
    <%= render partial: 'offer_response',
        locals: {offer: @request.fulfilling_swap } %>
  </div>
  
<% elsif @request.sent_offer? %>
  <p>
    Pending swap offered to <%= @request.fulfilling_swap.user %> for
    <%= link_to @request.fulfilling_swap, @request.fulfilling_swap %>.
  </p>
<% else %>
  <% if @swap_candidates.empty? %>
    <p>
      Currently, nobody looking for a swap is available to take this shift.
    </p>
    <p>
      Adding more shifts you are available to swap for will increase the
      chances of finding a match.
    </p>
  <% else %>
    <p>Requests whose users are available to swap with this shift:</p>
    <ul>
    <% @swap_candidates.each do |user, reqs| %>
      <li><%= user %>:</li>
      <ul>
      <% reqs.each do |req| %>
        <li><%= button_to "Offer to swap for #{req}", offer_swap_url(req),
                class: "btn btn-primary", method: :patch,
                params: { offer_request_id: @request.id } %></li>
        <li><%= link_to req, request_path(req) %></li>
      <% end %>
      </ul>
    <% end %>
    </ul>
  <% end %>

  <% if @request.user.availabilities.empty? %>
    <p>You haven't added any swap availability. You might want to 
      <%= link_to "add some", availabilities_path %>.</p>
  <% else %>
    <p>Shifts you are available to swap for
      (<%= link_to "edit availability", availabilities_path %>):</p>
    <ul class="availabilities">
      <% @request.user.availabilities.each do |availability| %>
        <li><%= availability %></li>
        <% end %>
    </ul>
  <% end %>

<% end %>
