<% if @request.received_offer? %>

  <%= render partial: 'offer_response',
      locals: {offer: @request.fulfilling_swap } %>
  
<% elsif @request.sent_offer? %>
  <p>
    Pending swap offered to <%= @request.fulfilling_swap.user %> for
    <%= link_to @request.fulfilling_swap, @request.fulfilling_swap %>.
  </p>
<% else %>
  <% if @swap_candidates.empty? %>
    <p>
      Currently, nobody looking for a swap is available to take this shift.
    </p>
    <p>
      Adding more <%= link_to "shifts you are available to swap for", availabilities_path %>
      will increase the chances of finding a match.
    </p>
  <% else %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <ul>
          <% @swap_candidates.each do |user, reqs| %>
            <% reqs.each do |req| %>
              <li>
                  <%= button_to "Offer to swap for with #{req.user} for #{req}", offer_swap_url(req),
                      class: "btn btn-primary", method: :patch,
                      data: { confirm: "Do you promise to cover #{req} in return?" },
                      params: { offer_request_id: @request.id } %>
              </li>
            <% end %>
            </ul>
          <% end %>
        </ul>

      </div>
    </div>

  <% end %>

<% end %>
