<h2><%= title %></h2>
  <% if requests.any? %>
	<ul class="requests">
	  <% requests.each do |req| %>
	    <li>
	      <%= link_to req, req %>
	      <% if req.fulfilled? %>
	      	<%= req.fulfilling_user %> covering for <%= req.user %>
	      	<% if req.fulfilling_swap %>
	      		in exchange for <%= req.fulfilling_swap %>
	      	<% end %>
	      <% elsif req.sent_offer? %>
	     	awaiting response from <%= req.fulfilling_swap.user %>
	      <% elsif req.received_offer? %>
	      	pending offer from <%= req.fulfilling_swap.user %>
	      <% end %>
	    </li>
	  <% end %>
	</ul>
  <% else %>
    <p>There don't appear to be any matching requests</p>
  <% end %>
