<% provide(:title, 'Edit request') %>
<h1>Edit Request</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@request) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :start, "Shift time" %>
      <%= f.date_field :start %>
      <%= f.select :shift, Request::SHIFTS %>

      <%= f.text_area :text %>

      <%= f.label :fulfilled %>
      <%= f.check_box :fulfilled %>

      <%= f.submit "Update my request", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

