<% provide(:title, 'Requests') %>

<% if params[:owner] %>
  <h1>Your requests</h1>
<% else %>
  <h1>Open requests</h1>
<% end %>

<% if current_user.admin? %>
  <% unless params[:past] %>
    <h1>Current requests</h1>
    <%= link_to "Show past requests", past: true %>
  <% else %>
    <h1>Past requests</h1>
    <%= link_to "Show current requests" %>
  <% end%>
<% end %>


<div>

  <% if @offers.any? %>
    <h2>Requests with pending offers</h2>
    <ul class="requests">
      <% @offers.each do |req| %>
        <li>
          <%= req %>
          <%= link_to req.brief_text, req %>
        </li>
      <% end %>
    </ul>
  <% elsif @requests.any? %>
    <h2>Requests in want of an offer</h2>
    <ul class="requests">
      <% @requests.each do |req| %>
        <li>
          <%= req %>
          <%= link_to req.brief_text, req %>
          <% if current_user_can_edit?(req) %>
            <%= link_to "Edit", edit_request_path(req) %>
            <%= link_to "Delete", req, method: :delete, 
                        data: { confirm: "Really delete this request?" } %>
          <% end %>
          <%= "[fulfilled]" if req.fulfilled? %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There don't appear to be any matching requests</p>
  <% end %>
</div>
