<% provide(:title, 'Requests') %>

<div>
  <ul class="requests">
    <% if @requests.empty? %>
      <p>There don't appear to be any matching requests</p>
    <% end %>
    <% @requests.each do |req| %>
      <li>
        <%= req %>
        <%= link_to req.brief_text, req %>
        <% if current_user_can_edit?(req) %>
          <%= link_to "Edit", edit_request_path(req) %>
          <%= link_to "Delete", req, method: :delete, 
                      data: { confirm: "Really delete this request?" } %>
        <% end %>
        <%= "[fulfilled]" if req.fulfilled? %>
      </li>
    <% end %>
  </ul>
</div>
