<% provide(:title, 'New request') %>
<h1>New Request</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'shared/error_messages' %>

    <%= form_for @user, url: create_user_request_url(@user) do |f| %>
      <%= f.fields_for :requests, @request do |request_fields| %>
          <%= render partial: 'shared/shift_time', locals: {f: request_fields} %>
      <% end %>

      <% if @suggested_availabilities.any? %>
        <h2>These shifts are currently seeking swaps. Indicate your availability to cover each.</h2>
        <%= render partial: 'availabilities/suggested',
                   locals: {f: f, availabilities: @suggested_availabilities} %>
      <% end %>

      <%= f.submit "Create request", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
