<% provide(:title, @request) %>

<h2><%= @request.user %> humbly requests coverage for</h2>
<h1><%= @request %></h1>

<% if @request.start.past? %>
  <p>This request's start time has passed.</p>
<% elsif @request.fulfilled? %>
  <%= render 'fulfilled_request' %>
<% elsif current_user == @request.user %>
  <%= render 'owned_request' %>
<% else %>
  <%= render 'others_request' %>
<% end %>

<div class="jumbotron">
  <p><%= @request %></p>
  <% if current_user_can_edit?(@request) %>
    <%= button_to "Edit request", edit_request_path(@request),
          method: :get, class: "btn" %>
  <% end %>
</div>
