<% provide(:title, @request) %>

<h2><%= @request.user %> humbly requests coverage for</h2>
<h1><%= @request %></h1>

<% if @request.start.past? && !@request.received_offer? %>
  <p>This request's start time has passed.</p>
<% elsif @request.fulfilled? %>
  <%= render 'fulfilled_request' %>
<% elsif current_user == @request.user %>
  <%= render 'owned_request' %>
<% else %>
  <%= render 'others_request' %>
<% end %>

<% if current_user_can_edit?(@request) %>
  <%= link_to(request_path(@request, redirect_to: owned_requests_path(@request.user)),
      method: :delete, data: { confirm: "Really delete this request?" }) do %>
    <button type="button" class="btn btn-default btn-danger" aria-label="Left Align" title="Delete">
      Delete request
    </button>
  <% end %>
<% end %>
