<%= render partial: 'new_request_progress', locals: {step: @step} %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'shared/error_messages' %>

    <%= form_for @request do |f| %>
      <%= hidden_field_tag :"from_step_#{@step}" %>
      <%= render partial: 'shared/shift_time', locals: {f: f} %>
      <% if current_user.admin? %>
        <%= f.label :user %>
        <%= f.select :user_id,
                     options_from_collection_for_select(User.all, "id", "name", @request.user_id),
                     { prompt: 'Select request owner'} %>
      <% end %>

      <%= f.submit "Find matches", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
