<% provide(:title, 'Holiday schedule') %>

<h1>Holiday schedule</h1>

<% @requests.group_by(&:date).each do |date, reqs_for_date| %>
	<h3><%= Holiday.to_name_and_date(date) %></h3>
    <ul class="requests">
		<% reqs_for_date.group_by(&:shift).each do |shift, reqs_for_shift| %>
	        <li>
				<%= shift %>:
				<% if reqs_for_shift.any?(&:fulfilling_user) %>
					<ol>
					<% reqs_for_shift.select(&:fulfilling_user).sort_by {|r| r.fulfilling_user.name }.each do |req| %>
						<li>
							<%= link_to req.fulfilling_user, req.fulfilling_user, title: req.fulfilling_user.phone %> in <%= req.fulfilling_user.location_for(date) %>

				        <% if current_user.admin? %>
				          <%= link_to(req, method: :delete, data: { confirm: "Really delete this request?" }) do %>
				            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Delete">
				              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				            </button>
				          <% end %>
				        <% end %>
						</li>

					<% end %>
					</ol>
				<% else %>
					Unstaffed
				<% end %>
	        </li>
		<% end %>
    </ul>
<% end %>
