<%= f.fields_for :availabilities, availabilities do |availability_fields| %>
  <%= availability_fields.hidden_field :user_id %>
  <%= availability_fields.hidden_field :date %>
  <%= availability_fields.hidden_field :shift %>
  <div class="row">
    <div class="col-md-6"><%= availability_fields.object %></div>
    <div class="col-md-6">
      <%= availability_fields.label 'Yes' do %>
        <%= availability_fields.radio_button :free, true %>Yes
      <% end %>
      <%= availability_fields.label 'No' do %>
        <%= availability_fields.radio_button :free, false %>No
      <% end %>
    </div>
  </div>
<% end %>
