<% provide(:title, 'Swap availability') %>

<h1>Your swap availabilty</h1>

<% if @suggested_availabilities.any? %>

  <%= render 'availabilities/instructions' %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= form_for(@user, url: update_availability_url(@user)) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= render partial: 'availabilities/suggested',
                   locals: {f: f, availabilities: @suggested_availabilities} %>
        <%= f.submit "Update", class: "btn btn-large btn-primary" %>
      <% end %>

      <% if Rails.env.development? %>
        <%= button_to "Delete all!", delete_all_availability_url(@user), method: :delete,
                      class: "btn btn-default btn-danger"  %>
      <% end %>
    </div>
  </div>

<% else %>
    <h2>There aren't any other active requests at the moment to add availability for. You can
    <%= link_to "set your typical weekly availability", edit_default_availability_path %>.</h2>
<% end %>
