<% provide(:title, 'Swap availability') %>

<h1>Shifts you are available to swap for</h1>

<div>
  <ul class="availabilities">
    <% if @availabilities.empty? %>
      <h2>You don't have any swap availability. You should add some…</h2>
    <% end %>
    <% @availabilities.each do |availability| %>
      <li>
        <%= availability %>
        <% if availability.tentative? %>
           <%= link_to availability.request do %>
            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Tentatively committed">
              <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
            </button>
           <% end %>
        <% elsif current_user_can_edit?(availability) %>
          <%= link_to availability, method: :delete, data: { confirm: "Really delete this availability?" } do %>
            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Delete">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          <% end %>
        <% elsif availability.request %>
          (covering for <%= availability.request.user %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<%= render partial: 'availabilities/new', locals: {availability: @availability} %>

<h1>Suggested availability</h1>
<% if @suggested_availabilities.any? %>

  <p>These shifts need swaps. Check all the ones you're available for, then click the "Add suggested" button.</p>

  <%= form_for(@user, url: update_availability_url(@user)) do |f| %>
    <%= render partial: 'availabilities/suggested',
               locals: {f: f, availabilities: @suggested_availabilities} %>
    <%= f.submit "Add suggested" %>
  <% end %>
<% else %>
  <p>Congratulations! You've added availability for <strong>all</strong> the open requests.</p>
<% end %>