<% provide(:title, 'Swap availability') %>

<h1>Shifts you are available to swap for</h1>

<div>
  <ul class="availabilities">
    <% if @availabilities.empty? %>
      <h2>You don't have any swap availability. You should add some…</h2>
    <% end %>
    <% @availabilities.each do |availability| %>
      <li>
        <%= availability %>
        <% if availability.tentative? %>
           [<%= link_to "tentatively committed", availability.request%>]
        <% elsif availability.user == current_user %>
          [<%= link_to "Delete", availability, method: :delete, 
                      data: { confirm: "Really delete this availability?" } %>]
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<h1>Add a shift you are available to swap for</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@availability) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= render partial: 'shared/shift_time', locals: {f: f} %>

      <%= f.submit "Add available shift", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
