<% provide(:title, 'Swap availability') %>

<% if @user == current_user %>
  <h1>Shifts you are available to swap for</h1>
<% else %>
  <h1>Shifts <%= @user.name %> is available to swap for</h1>
<% end %>

<div>
  <ul class="availabilities">
    <% if @availabilities.empty? %>
      <h2>You don't have any swap availability. You should add some…</h2>
    <% end %>
    <% @availabilities.each do |availability| %>
      <li>
        <%= availability.time_string %>
        <% if current_user_can_edit?(availability) %>
          <%= link_to "Delete", availability, method: :delete, 
                      data: { confirm: "Really delete this availability?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@availability) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :start, "date (MM/DD/YYYY)" %>
      <%= f.date_field :start %>
      <%= f.label :shift, "time" %>
      <%= f.select :shift, Request::SHIFTS, { prompt: 'Select shift'} %>

      <%= f.submit "Add available shift", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
