<% provide(:title, 'Swap availability') %>

<h1>Shifts you are available to swap for</h1>

<div>
  <ul class="availabilities">
    <% if @availabilities.empty? %>
      <h2>You don't have any swap availability. You should add some…</h2>
    <% end %>
    <% @availabilities.each do |availability| %>
      <li>
        <%= availability %>
        <% if availability.tentative? %>
           <%= link_to availability.request do %>
            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Tentatively committed">
              <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
            </button>
           <% end %>
        <% elsif current_user_can_edit?(availability) %>
          <%= link_to availability, method: :delete, data: { confirm: "Really delete this availability?" } do %>
            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Delete">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<h1>Add a shift you are available to swap for</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@availability) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= render partial: 'shared/shift_time', locals: {f: f} %>

      <%= f.submit "Add available shift", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
