<header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to ENV['APP_NAME'] || "Dev CCsubs", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Active requests", requests_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Users", users_url if current_user.admin? %></li>
          <li><%= link_to "New request", new_request_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "My requests", current_user_owned_requests_path %></li>
              <li><%= link_to "My swap availability",
                availabilities_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
