<header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to app_name, root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Active requests", requests_path %></li>
        <% if signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "Users", users_url %></li>
          <% end %>
          <% if current_user.staff_or_admin? %>
            <li><%= link_to "New message", messages_new_url %></li>
          <% end %>
          <% if current_user.staff_or_admin? %>
            <li><%= link_to "On-call schedule", on_calls_path %></li>
          <% end %>
          <% if !current_user.staff? %>
            <li><%= link_to "New request", new_request_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user %> <%= image_tag current_user.gravatar_url(size: 25, d: :identicon) %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Requests", owned_requests_path(current_user) %></li>
              <li><%= link_to "Swap availability",
                availabilities_path %></li>
              <li><%= link_to "Typical availability", edit_default_availability_path %></li>
              <% if !current_user.staff_or_admin? %>
                <li><%= link_to "On-call signup", edit_on_call_path %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
