<!DOCTYPE html>
<html>
<head>
  <title>CC Subs | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if signed_in? %>
        <% if !current_user.confirmed? %>
          <div class="alert alert-warning">
            <%= link_to "Please confirm your email address",
                send_confirmation_path(current_user) %>
          </div>
        <% end%>
        <% if current_user.pending_offers? && 
            !(@request && (@request.sent_offer? || @request.received_offer?)) %>
          <div class="alert alert-info">
            <%= link_to "Please click here respond to your pending " +
                "offer".pluralize(current_user.pending_offers.size),
                pending_requests_path(current_user) %>
          </div>
        <% end%>
      <% end %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= flash_class(key) %>"><%= value %></div>
      <% end %>
      <!-- pre-yield --><%= yield %><!-- post-yield -->
      <%= render 'layouts/footer' %>
      <%= debug(current_user) if Rails.env.development? %>
      <%= debug(params) if Rails.env.development? %>
    </div><!-- end of container -->
  <script type="text/javascript">
  $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      startDate: "-1d",
      autoclose: true,
      todayHighlight: true,
      orientation: "top left"
  });
  </script>
</body>
</html>
