<% provide(:title, 'On-call Signup') %>

<%= render 'shared/error_messages' %>

<%= render partial: 'month_header',
           locals: { label: 'on-call signup', date: @date_range.first, path_func: :edit_on_call_path } %>

<h2>
  Key:
  <div class="square btn btn-large btn-primary btn-success disabled">Your current selection</div>
  <div class="square btn btn-large btn-primary disabled">Unavailable</div>
  <div class="square btn btn-large btn-primary">Available</div>
</h2>

<%= render layout: 'month' do |date| %>
  <% @on_calls_for_date[date].each do |oc| %>
    <%= form_for(oc) do |f| %>
      <%= f.hidden_field :date %>
      <%= f.hidden_field :shift %>
      <%= f.submit oc.shift, class: "square btn btn-large btn-primary #{'btn-success' if oc.user == current_user}",
                             disabled: oc.persisted? || oc.start.past? %>
    <% end %>
  <% end %>
<% end %>
