<% provide(:title, 'On-call Signup') %>

<%= render 'shared/error_messages' %>

<div class="alert alert-danger">
   Ccsubs is no longer accepting new on-call signups. Please visit <a href="https://secure.rotundasoftware.com/28/web-terminal/login/crisisconnections">its replacement</a>.
</div>

<%= render partial: 'shared/month_header',
           locals: { location: @location, date: @date_range.first, path_func: :edit_on_call_path } %>

<h2>
  Key:
  <div class="selected-oncall disabled">Your current selection</div>
  <div class="unavailable-oncall disabled">Unavailable</div>
  <div class="available-oncall">Available</div>
</h2>

<%= render layout: 'shared/month' do |date| %>
  <% @on_calls_for_date[date].each do |oc| %>
    <%= form_for(oc) do |f| %>
      <%= f.hidden_field :date %>
      <%= f.hidden_field :shift %>
      <%= f.hidden_field :location %>
      <% if oc.user == current_user %>
        <%= f.submit oc.shift, class: "selected-oncall", disabled: true %>
      <% elsif oc.persisted? || oc.start.past? %>
        <%= f.submit oc.shift, class: "unavailable-oncall", disabled: true %>
      <% else %>
        <%= f.submit oc.shift, class: "available-oncall" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
